@{ Layout = "_Layout"; }

<h1>Pirates Game</h1>


<p>@Html.ActionLink("Play Level 1", "Level1", "Play")</p>
<p>@Html.ActionLink("Play Level 2", "Play", "Level2")</p>
<p>@Html.ActionLink("Play Level 3", "Play", "Level3")</p>